@model Registrar.Models.Course;
@using Registrar.Models;
@using System.Collections.Generic;

<h2>Courses Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

  <h3>Students:</h3>
  <ul>
    @foreach (Student student in Model.Students)
    {
      <li>@Html.ActionLink($"{student.StudentName}", "Details", "Students", new { id = student.StudentId })</li>
    }
  </ul>



<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
